body {
  background-image: url("./assets/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f9fafb;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1e293b;
    border-radius: 2px;
  }
}
